debug/
release/
ui_*
Makefile*
object_script*
*.pro.user
sanguosha.qm
config.ini
swig/sanguosha_wrap.cxx
records/*
users.db
doc/*.html
swig/*.bat
.DS_Store
liblua5.1.dylib
websitedata/
ikpMP3.so
irrKlang.lib
libIrrKlang.so
liblua.a
libplibjs.a
libplibul.a